# 환경 설정
.env
*.env

# 파이썬 바이트코드 / 캐시
__pycache__/
*.py[cod]
*$py.class

# 가상환경
.venv/
venv/
env/

# SQLite 등 데이터베이스
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.db

# 로그
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
